<div>
  <h1>Four Day Forcast!</h1>
  <div class ="container-fluid">
    <div class="row" *ngFor="let forecast of fourDayForecast" >
      <h3> Date: {{forecast.date.weekday}} {{forecast.date.monthname}} {{forecast.date.day}}</h3>
      <p> Condition: {{forecast.conditions}}</p>
      <p>
        High:
        <span *ngIf="unit == 'METRIC'"> {{forecast.high.celsius}} C </span>
        <span *ngIf="unit == 'IMPERIAL'"> {{forecast.high.fahrenheit}} F</span>
      </p>
      <p>
        Low:
        <span *ngIf="unit == 'METRIC'"> {{forecast.low.celsius}} C </span>
        <span *ngIf="unit == 'IMPERIAL'"> {{forecast.low.fahrenheit}} F</span>
      </p>
      <p>Average Humidity: {{forecast.avehumidity}}</p>
      <hr>
    </div>
  </div>
</div>
