<p>Latitude: {{latitude}}</p>
<p>Longitude: {{longitude}}</p>
<div>
  <h1> Weather Details</h1>
  <button class="btn btn-primary">Metric</button>
  <button class="btn btn-primary">Imperial</button>
  <p>Location: {{city}}, {{state}} {{country}}</p>
  <p>Weather: {{weather}}</p>
  <p>Current Temperature: {{temp_c}}</p>
  <p>Wind Chill: {{windchill_c}}</p>
  <p>Feels Like: {{feelslike_c}}</p>
  <p> Wind: {{wind_dir}} </p>
  <p>Wind Gust: {{wind_gust_kph}}</p>
  <p>Humidity: {{relative_humidity}}</p>
  <p>Pressure: {{pressure_in}}{{pressure_trend}}</p>
  <p>Precipitation: {{precip_today_metric}}</p>
</div>

