<p>
  <button class="btn btn-primary" (click)="getHeadLines()">Headlines</button>
</p>


<div class="container-fluid">
  <div class="row">
    <div class="headlines">
      <div *ngFor="let article of headlines" class="col-sm-12 col-md-4">
        <img src="{{article.urlToImage}}" alt="news photo" style="width: 100%">
        <h4>{{article.title}}</h4>
        <p>{{article.description}}</p>
        <p>source: {{article.source.name}}</p>
        <p>published at: {{article.publishedAt}}</p>
        <a href="{{article.url}}" class="btn btn-info" target="_blank"> Read More</a>
        <hr>
      </div>
    </div>
  </div>
</div>
